.main_header{
    margin: 3px;
    border: 3px solid white;
}

.nav_conteiner{

    display: flex;
    align-items: center;
}

.nav_menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu{
    display: inline;
    margin: 5px;
    border: 3px solid white;
    padding: 5px;
}



.logo {
    width: 10%;
    display: block;
}

.footer_conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_text{
    margin: 3px;
}

.footer_text_link{
    margin: 3px;
    padding: 3px;
}

.myImage{
    width: 100%;
    margin: 0;
}

.zagolovok{
    text-align: center;
    margin: 10px;
    font-size: 2em;
}

.text{
    text-align: center;
    margin: 10px;
    font-size: 2em;
}

.container_main{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "image image name name"
    "image image interests about"
    "image image . .";
    border: 3px solid white;
    margin: 3px;
}

.myImage{
    border: 3px solid white;
}

.image_im{
    grid-area: image;

    margin: 3px 5px 3px 3px;
}

.name{
    grid-area: name;
    border: 3px solid white;
    margin: 3px;
}

.interests{
    grid-area: interests;
    border: 3px solid white;
    margin: 3px;
}

.about{
    grid-area: about;
    border: 3px solid white;
    margin: 3px;
}