body{
    background-color: #673D7A;
}

.zagolovok{
    color: #67F852;
}

.text{
    color: darkgray;
}

.menu_text{
    color: #67f852;
}

.footer_text{
    color: #67f852;
}

.footer_text_link{
    color: #67f852;
}

.zad{
    color: #67f852;
}