body{
    background-color: #1a081f;
}

.zagolovok{
    color: #feac41;
}

.text{
    color: white;
}

.menu_text{
    color: white;
}

.footer_text{
    color: white;
}

.footer_text_link{
    color: white;
}

.zad{
    color: white;
}